{% extends 'base.j2' %} 

{% block content %} 
{% for command in commands %}
<a href="#" class="btn" onclick="run('{{ command.name }}', '{{ command.cmd }}')">{{ command.name }}</a>
{% endfor %} 
{% endblock %}
